<header
  class="sticky top-0 z-50 bg-white/90 dark:bg-background-dark/90 backdrop-blur-md border-b border-gray-100 dark:border-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16 relative">
      <div class="flex items-center">
        <!-- Mobile Menu Button -->
        <div class="flex items-center xl:hidden">
          <button id="mobile-menu-btn" onclick="toggleMobileMenu()"
            class="text-gray-900 dark:text-gray-100 p-2 -ml-2 relative z-50 focus:outline-none transition-transform duration-300">
            <span id="mobile-menu-icon" class="material-icons text-2xl">menu</span>
          </button>
        </div>

        <!-- Logo -->
        <div
          class="flex-shrink-0 flex items-center absolute left-1/2 transform -translate-x-1/2 md:static md:transform-none md:translate-x-0 md:ml-4 xl:ml-0">
          <a class="block" href="index.html">
            <img alt="Clothyfly" class="h-8 lg:h-12 w-auto dark:invert dark:brightness-0 dark:sepia-0 dark:saturate-0"
              src="images/Clothyfly-dark.svg" />
          </a>
        </div>
      </div>

      <nav class="hidden xl:flex space-x-8 self-stretch">
        <a id="nav-home"
          class="nav-link text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 uppercase tracking-wide transition-colors flex items-center h-full"
          href="index.html">Home</a>
        <div class="group static flex items-center h-full">
          <a id="nav-men"
            class="nav-link text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 group-hover:text-red-500 group-hover:border-b-2 group-hover:border-red-500 uppercase tracking-wide transition-colors relative z-10 h-full flex items-center border-transparent border-b-2"
            href="product_list.html?category=men">Men</a>
          <div
            class="absolute left-0 w-full bg-white dark:bg-background-dark border-t border-gray-200 dark:border-gray-800 shadow-xl hidden group-hover:block transition-all duration-200 z-0 top-16">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
              <div class="grid grid-cols-5 gap-8">
                <!-- Column 1 -->
                <div>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Topwear</a>
                  </h4>
                  <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">T-Shirts</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Casual Shirts</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Formal Shirts</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Sweatshirts</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Sweaters</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Jackets</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Blazers & Coats</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Suits</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Rain Jackets</a>
                    </li>
                  </ul>
                  <h4 class="font-bold text-red-500 uppercase text-xs mt-6 mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Indian & Festive
                      Wear</a>
                  </h4>
                  <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Kurtas & Kurta
                        Sets</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Sherwanis</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Nehru Jackets</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Dhotis</a>
                    </li>
                  </ul>
                </div>
                <!-- Column 2 -->
                <div>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Bottomwear</a>
                  </h4>
                  <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Jeans</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Casual Trousers</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Formal Trousers</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Shorts</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Track Pants &
                        Joggers</a>
                    </li>
                  </ul>
                  <h4 class="font-bold text-red-500 uppercase text-xs mt-6 mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Innerwear &
                      Sleepwear</a>
                  </h4>
                  <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Briefs & Trunks</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Boxers</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Vests</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Sleepwear &
                        Loungewear</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Thermals</a>
                    </li>
                  </ul>
                  <h4 class="font-bold text-red-500 uppercase text-xs mt-6 mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Plus Size</a>
                  </h4>
                </div>
                <!-- Column 3 -->
                <div>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Footwear</a>
                  </h4>
                  <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Casual Shoes</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Sports Shoes</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Formal Shoes</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Sneakers</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Sandals &
                        Floaters</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Flip Flops</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Socks</a>
                    </li>
                  </ul>
                  <h4 class="font-bold text-red-500 uppercase text-xs mt-6 mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Personal Care &
                      Grooming</a>
                  </h4>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Sunglasses &
                      Frames</a>
                  </h4>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Watches</a>
                  </h4>
                </div>
                <!-- Column 4 -->
                <div>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Sports & Active
                      Wear</a>
                  </h4>
                  <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Sports Shoes</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Sports Sandals</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Active T-Shirts</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Track Pants &
                        Shorts</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Tracksuits</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Jackets &
                        Sweatshirts</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Sports
                        Accessories</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Swimwear</a>
                    </li>
                  </ul>
                  <h4 class="font-bold text-red-500 uppercase text-xs mt-6 mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Gadgets</a>
                  </h4>
                  <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Smart Wearables</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Fitness Gadgets</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Headphones</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Speakers</a>
                    </li>
                  </ul>
                </div>
                <!-- Column 5 -->
                <div>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Fashion
                      Accessories</a>
                  </h4>
                  <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Wallets</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Belts</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Perfumes & Body
                        Mists</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Trimmers</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Deodorants</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Ties, Cufflinks &
                        Pocket Squares</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Accessory Gift
                        Sets</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Caps & Hats</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Mufflers, Scarves &
                        Gloves</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Phone Cases</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Rings & Wristwear</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Helmets</a>
                    </li>
                  </ul>
                  <h4 class="font-bold text-red-500 uppercase text-xs mt-6 mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Bags & Backpacks</a>
                  </h4>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Luggages &
                      Trolleys</a>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="group static flex items-center h-full">
          <a id="nav-women"
            class="nav-link text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 group-hover:text-red-500 group-hover:border-b-2 group-hover:border-red-500 uppercase tracking-wide transition-colors relative z-10 h-full flex items-center border-transparent border-b-2"
            href="product_list.html?category=women">Women</a>
          <div
            class="absolute left-0 w-full bg-white dark:bg-background-dark border-t border-gray-200 dark:border-gray-800 shadow-xl hidden group-hover:block transition-all duration-200 z-0 top-16">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
              <div class="grid grid-cols-5 gap-8">
                <!-- Column 1 -->
                <div>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Indian & Fusion
                      Wear</a>
                  </h4>
                  <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Kurtas & Suits</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Kurtis, Tunics &
                        Tops</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Sarees</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Ethnic Wear</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Leggings, Salwars &
                        Churidars</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Skirts & Palazzos</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Dress Materials</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Lehenga Cholis</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Dupattas & Shawls</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Jackets</a>
                    </li>
                  </ul>
                  <h4 class="font-bold text-red-500 uppercase text-xs mt-6 mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Belts, Scarves &
                      More</a>
                  </h4>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Watches &
                      Wearables</a>
                  </h4>
                </div>
                <!-- Column 2 -->
                <div>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Western Wear</a>
                  </h4>
                  <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Dresses</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Tops</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Tshirts</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Jeans</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Trousers & Capris</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Shorts & Skirts</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Co-ords</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Playsuits</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Jumpsuits</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Shrugs</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Sweaters &
                        Sweatshirts</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Jackets & Coats</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Blazers &
                        Waistcoats</a>
                    </li>
                  </ul>
                  <h4 class="font-bold text-red-500 uppercase text-xs mt-6 mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Plus Size</a>
                  </h4>
                </div>
                <!-- Column 3 -->
                <div>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Maternity</a>
                  </h4>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Sunglasses &
                      Frames</a>
                  </h4>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Footwear</a>
                  </h4>
                  <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Flats</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Casual Shoes</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Heels</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Boots</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Sports Shoes &
                        Floaters</a>
                    </li>
                  </ul>
                  <h4 class="font-bold text-red-500 uppercase text-xs mt-6 mb-4">
                    Sports & Active Wear
                  </h4>
                  <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Clothing</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Footwear</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Sports
                        Accessories</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Sports Equipment</a>
                    </li>
                  </ul>
                </div>
                <!-- Column 4 -->
                <div>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Lingerie &
                      Sleepwear</a>
                  </h4>
                  <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Bra</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Briefs</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Shapewear</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Sleepwear &
                        Loungewear</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Swimwear</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Camisoles &
                        Thermals</a>
                    </li>
                  </ul>
                  <h4 class="font-bold text-red-500 uppercase text-xs mt-6 mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Beauty & Personal
                      Care</a>
                  </h4>
                  <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Makeup</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Skincare</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Premium Beauty</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Lipsticks</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Fragrances</a>
                    </li>
                  </ul>
                </div>
                <!-- Column 5 -->
                <div>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Gadgets</a>
                  </h4>
                  <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Smart Wearables</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Fitness Gadgets</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Headphones</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Speakers</a>
                    </li>
                  </ul>
                  <h4 class="font-bold text-red-500 uppercase text-xs mt-6 mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Jewellery</a>
                  </h4>
                  <ul class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Fashion Jewellery</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Fine Jewellery</a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-black dark:hover:text-white hover:font-bold">Earrings</a>
                    </li>
                  </ul>
                  <h4 class="font-bold text-red-500 uppercase text-xs mt-6 mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Backpacks</a>
                  </h4>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Handbags, Bags &
                      Wallets</a>
                  </h4>
                  <h4 class="font-bold text-red-500 uppercase text-xs mb-4">
                    <a href="#" class="hover:text-black dark:hover:text-white transition-colors">Luggages &
                      Trolleys</a>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a id="nav-about"
          class="nav-link text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 uppercase tracking-wide transition-colors flex items-center h-full"
          href="#">About</a>
        <a id="nav-contact"
          class="nav-link text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 uppercase tracking-wide transition-colors flex items-center h-full"
          href="#">Contact</a>
      </nav>

      <div class="flex items-center space-x-2 xl:space-x-4">
        <button id="mobile-search-btn" onclick="toggleSearchModal()"
          class="text-gray-600 dark:text-gray-300 hover:text-black dark:hover:text-white sm:hidden focus:outline-none">
          <span class="material-icons text-xl">search</span>
        </button>

        <div class="relative hidden sm:block">
          <div class="flex items-center w-96 bg-gray-100 dark:bg-gray-800 rounded-full overflow-hidden">
            <button id="search-btn-icon"
              class="p-1.5 pl-3 text-gray-500 hover:text-black dark:text-gray-400 dark:hover:text-white transition-colors">
              <span class="material-icons text-xl pl-1">search</span>
            </button>
            <input id="search-input-field"
              class="w-full bg-transparent border-none px-2 py-1.5 text-sm focus:ring-0 text-gray-900 dark:text-white placeholder-gray-500"
              placeholder="Search for products, brands and more" type="text" />
          </div>
        </div>
        <button onclick="toggleLoginPopup()"
          class="text-gray-600 dark:text-gray-300 hover:text-black dark:hover:text-white">
          <span class="material-icons text-xl">person_outline</span>
        </button>
        <a href="wishlist.html"
          class="text-gray-600 dark:text-gray-300 hover:text-black dark:hover:text-white relative">
          <span class="material-icons text-xl">favorite_border</span>
          <span id="wishlist-count-badge"
            class="absolute -top-1 -right-1 h-3 w-3 bg-black dark:bg-white rounded-full text-[8px] flex items-center justify-center text-white dark:text-black font-bold hidden"></span>
        </a>
        <button onclick="toggleCartDrawer()"
          class="text-gray-600 dark:text-gray-300 hover:text-black dark:hover:text-white relative">
          <span class="material-icons text-xl">shopping_bag</span>
          <span id="cart-count-badge"
            class="absolute -top-1 -right-1 h-3 w-3 bg-red-600 text-white rounded-full text-[8px] flex items-center justify-center font-bold hidden">0</span>
        </button>
      </div>
    </div>
  </div>
</header>